{% extends "tiendalibre/home.html" %}

{% block title %}Acerca de Mi{% endblock %}

{% block content %}
<div class="container my-5">
    
    <div class="card text-center mx-auto shadow" style="max-width: 500px; padding: 30px;">
        
        
        <div class="avatar bg-primary text-white rounded-circle mx-auto d-flex align-items-center justify-content-center mb-3" style="width: 80px; height: 80px; font-size: 24px; font-weight: bold;">
            PV
        </div>
        
        <h1 class="fs-2">Pedro Vercellone</h1>
        <span class="text-muted mb-4 d-block">Desarrollador Web</span>

        <p class="bio text-start">
           Este es mi trabajo de Django. Tengo 18 años y estudio en ITS Villada. Me gusta mucho la programación y estoy aprendiendo a desarrollar aplicaciones web con Django.
        </p>

        <a href="/" class="btn btn-outline-primary mt-3 fs-5">&larr; Volver al Inicio</a>
    </div>
</div>
{% endblock %}